<configuration>
    <appender name="MULTI_AGENT_IDE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/hayde/IdeaProjects/multi_agent_ide_parent/multi-agent-ide.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="MULTI_AGENT_IDE" />
    </root>
</configuration>